<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ bootstrap.load_css() }}
    <title>{% block page_title %} Page title {% endblock %}</title>
</head>
<body>

<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Rozliczenia</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" href="/documents/list">Dokumenty</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/items/list">Towary</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/companies/list">Kontrahenci</a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dodatkowe tabele</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/categories/list">Kategorie towarów</a></li>
                          <li><a class="dropdown-item" href="/units/list">Jednostki miary</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/taxes/list">Stawki podatku</a></li>
                        </ul>
                    </li>


                </ul>
            </div>
        </div>
    </nav>

</div>


<header class="container">
    <h1 class="display-5 my-1">{{settings['title']}}</h1>
</header>

<div class="container">
    {% block form_content %} Add form here <br/> {% endblock %}
    {% block element_list %} Add lists here <br/> {% endblock %}
    {% block element_details %} Element details <br/> {% endblock %}
    {% block item_details %} Item details <br/> {% endblock %}
</div>


{{ bootstrap.load_js() }}
<script type="text/javascript" src="{{url_for('static',filename='script.js')}}"></script>
</body>
</html>