@import '../variables';
@import '../mixins';

.form-edit {
  background-color: $light-blu-bg;

  h2 {
    @include page-subtitle;
  }

  h3 {
    @include section-subtitle;
    color: white;
  }

  .all-forms {
    @include block-border-box;
    margin: 0 auto;
    width: 100%;
    text-align: left;
    padding: 1em .3em 4em;

    label {
      @include block-border-box;
      width: 100%;
      color: white;
      padding: .1em;
      font-size: 1em;
      text-align: left;
    }

    textarea {
      resize: none;
    }

    .in {
      @include block-border-box;
      text-align: left;
      outline: none;
      margin: .8em 0;
      border-radius: 5px;
      padding: 1em;
      font-size: 1em;
      background-color: white;
      width: 100%;
    }

    .btn {
      @include block-border-box;
      outline: none;
      border-radius: 5px;
      font-size: 1em;
      font-weight: 400;
      background-color: $button-color;
      color: white;
      padding: 1em 3.5em;
    }
  }

  @media screen {
    @media (min-width: $media-br-1) {
      .all-forms {
        width: 70%;
        padding: 1em 0 4em;
      }
    }
  }

}
