@import 'variables';

@mixin set-to-zero {
  border: 0;
  margin: 0;
  padding: 0;
}

@mixin block-border-box {
  box-sizing: border-box;
  display: block;
}

@mixin page-subtitle {
  background-color: $subtitle-bck;
  color: white;
  font-weight: 700;
  font-size: 2.3em;
  padding: 1.5em 0;

  small {
    font-weight: 400;
    font-size: .6em;
    display: block;
  }
}

@mixin section-subtitle {
  font-weight: 700;
  font-size: 1.5em;
  padding: 1em 0;

  small {
    font-weight: 400;
    font-size: .6em;
    display: block;
  }
}
