<!doctype html>
{% from 'bootstrap5/form.html' import render_field %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ bootstrap.load_css() }}
    <title>Document</title>
</head>
<body>
{% if form: %}
<div class="container">
    <form novalidate method="post" action="/documents/new">

            {{ form.csrf_token }}
            {{ render_field(form.document_title)}}
            {{ render_field(form.date)}}
            {{ render_field(form.document_sum)}}
            {{ render_field(form.operation_id)}}
            {{ render_field(form.description)}}

            <div class="d-flex p-3 flex-row-reverse">
                <input type="submit" class="btn btn-dark" value="Zapisz">
            </div>
    </form>
</div>
{% endif %}
{{ bootstrap.load_js() }}
</body>
</html>